html, body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: grid;
    width: 60vmin;
    height: 60vmin;
    border: 1px solid black;
    margin-bottom: 3vmin;
}

.controls-container {
    width: 60vmin;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 2vmin;
}

.left-controls {
    width: 100%;
}

.button-prompt {
    font-size: 1.9vmin;
    margin-bottom: 1vmin;
}

.button-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button {
    font-size: 1vmin;
    padding: 1vmin 2vmin;
    margin-right: 2vmin;
}

.buttonText {
    font-size: 1.9vmin;
}

.checkbox-controls {
    margin-top: 1.8vmin;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.checkbox-prompt {
    font-size: 1.9vmin;
    margin-bottom: 1vmin;
    margin-top: 2vmin;
}

.checkbox {
    width: 3vmin;
    height: 3vmin;
}

.square {
    border: 1.5px solid black;
    box-sizing: border-box;
}
